#ProductosSinAzucar {
    color: #C38888 !important;
}

#ProductosSinTACC {
    color: #C38888 !important;
}

#ProductosTradicional {
    color: #C38888 !important;
}

.container-card2 {
    display:flex;
    flex-direction: column;  
    align-items: center;
}

h1 {
    font-weight: bolder;

}

.card {
    display: flex;
    border: none;
    width: 60%;
  
}


.card-title {
    text-align: center;
    color: rgb(211, 80, 47);
    font-weight: bolder;
}

.card-body {
    text-align: center;
}

.card-text {
    padding-left: 0;
}

.card-text li {
    list-style: none;
}

.carousel-inner {
    height: auto !important;
}

@media screen and (max-width:934px) {
    .card {
        width: 70%;
    }

}

@media screen and (max-width:680px) {
    .card {
        width: 80%;
    }    
} 

@media screen and (max-width:500px) {
    .card {
        width: 95%;
    }    
} 