.cartContainer{
    display: flex;
    flex-direction: column;
}

h1 {
    color: white !important;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.btn-cleanCart  {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background: linear-gradient(to bottom, #a39999 5%, #ce4444 100%);
    background-color: #ba4646;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    text-shadow: 0px 1px 0px #55a3bd;
    border: none;
}

@media screen and (max-width:750px) {
    .btn-cleanCart  {
        width: 30%;
}
} 

@media screen and (max-width:500px) {
    .btn-cleanCart  {
        width: 40%;
}
    
} 