*{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
}
#contacto{
    display: flex;
}
.solapa{
    background: url('../../img/background-solapa-roja.png') center bottom;
    text-align: center;
    margin: auto;
    justify-content: center;
    font-weight: 200;
}
.solapa h1{
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    display: block;
    line-height: 90px;
    font-weight: 600;
}
.solapa-roja{
    background: url('../../img/background-solapa-roja.png')bottom center !important;
    background-repeat: no-repeat;
}
.br-25{
    height: 25px;
}
.acenter{
    text-align: center;
    margin-bottom: 30px;
}
.acenter h3{
    font-size: 24px;
    color: #DD161B;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: -50px;
}
.mail h2{
    font-size: 10px;
}
.mail a{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #623A31;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
form{
    background: #EFE3D0;
    max-width: 450px;
    padding: 40px 20px 10px 20px;
    box-sizing: border-box;
    margin: auto;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 1rem;
}
.form-control{
    border: none;
    background: #DCC299;
    height: 36px;
    width: 99%;
    font-family: 'Bitter', serif;
    color: #623A31;
    margin-top: 10px;
}
.formulario-label{
    width: 50%;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
} 

.form-check{
    padding-left: 0;
}

.formulario-area{
    background: #DCC299;
}
textarea{
    border: none;
    background: #DCC299;
    font-family: 'Bitter', serif;
    color: #623A31;
    height: 100%;
    width: 100%;
}
.btn{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: #DD161B;
    height: 46px;
    margin-left: 150px;
    padding: 0px 15px;
    color: #fff;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}