@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    color: #C38888 !important;
}
#home{
    width: 100%;
}
.carousel-inner{
    background-size: contain;
    width: 100%;
}
#img{
    background-size: contain;
}
.min-vh-100{
    min-height: 100%!important
}