@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');

#nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #C38888;
}

.img-nosotros {
    width: 200px;
    height: 200px;
    border-radius: 70px;
    margin: 0 auto;
}

.nosotros-text {
    font-weight: bolder;
    color: white;
    font-size: 40px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.nosotros-text {

    color: white !important;
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:744px) {
    .nosotros-text {
        font-size: 25px;
    }
}
